@model TravelBlog.Models.Person
@{
    ViewData["Title"] = "Person - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experience Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Species): @Html.DisplayFor(model => model.Species)</p>
<p>@Html.DisplayNameFor(model => model.Affiliation): @Html.DisplayFor(model => model.Affiliation)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) | @Html.ActionLink("Back to List", "Index")</p>